doctype html
<html lang="ru">
head
	//- var path = 'http://limberi.by/lidbeer.local/';
	- var path = '';
	meta(charset="utf-8")
	title Лидбир 2018. Купить билет на автобус из Минска и на концерт в Лиде можно тут
	link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,900&amp;subset=cyrillic-ext" rel="stylesheet")
	//link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
	meta(name="description" content="Все о фестивале Лидбир который будет проходить 8 сентября 2018 в Лиде")
	link(rel="stylesheet" href = path + "template/style.css")
	script(src=path+'template/js/lazysizes.min.js')
	script(src=path+'template/js/ls.unveilhooks.min.js')
	script(src=path+'template/js/custom.js' async defer)
body
	header
		.logo
			img(src=path+"template/img/limberi_logo.svg" width="95")
		.nav
			ul
				li
					a(href="/") Главная
				li
					a(href="/vehicles.html") Авто
				li
					a(href="#") F.A.Q.
				li
					a(href="#") Контакты
			.bars
				div
				div
				div
		.tel
			ul
				li 
					a(href="tel:+375291387747") +375 29 138 77 47
	.ticket-modal
		span.close &times;
		iframe.lazyload(width="100%" height="99%" data-src="https://shop.piletilevi.ee/public/?concert=256378&shop_provider=kvldbr&design=btb&lang=rus&center=1873&sdc=1#view=ticketsselect")
	.bus-modal
		span.close &times;
		.inner
			p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.		
	.wrap
		.screen1
			img.lazyload.main1(data-src=path+"template/img/main.png")
			img.lazyload.buy_button(data-src=path+"template/img/button.png")
			img.lazyload.shapes(data-src=path+'template/img/shapes.png')
			img.lazyload.bus-order(data-src=path+'template/img/bus-order.png')
			.social
				a(href="#" target="_blank")
					img.lazyload.vk(data-src=path+'template/img/vk.png')
				a(href="#" target="_blank")
					img.lazyload.fb(data-src=path+'template/img/fb.png')
				a(href="#" target="_blank")
					img.lazyload.inst(data-src=path+'template/img/inst.png')
		.screen2
			img.lazyload(data-src=path+'template/img/lidbeer2018_label.png')
			p НЕЎЗАБАВЕ!
			p LIDBEER — адзін з самых буйных, гучных і душэўных опэн-эйраў Беларусі. Гасцей фестывалю чакаюць піваварныя традыціі рэгіёна, забавы, гульні, агромністы фудкорт і толькі якасная музыка. На адзін дзень уся Ліда стане фестывальная пляцоўкай!
			p Уваход на LIDBEER вольны!
			p Асобная зона фестывалю — пляцоўка гала-канцэрта. На яе тэрыторыі размяшчаецца спецыяльны фудкорт, асобныя забавы і маштабная сцэна cлавутымі хэдлайнерамі.
			img.lazyload.black_shapes(data-src=path+'template/img/black_shapes.png')
			p.bold LIDBEER ЧАКАЕ ЦЯБЕ!
			img.lazyload(data-src=path+'template/img/orgs.png')
			img.lazyload(data-src=path+'template/img/org_item.png')

