doctype html
<html lang="ru">
head
	//- var path = 'http://limberi.by/lidbeer.local/';
	- var path = '';
	meta(charset="utf-8")
	title Лидбир 2018. Купить билет на автобус из Минска и на концерт в Лиде можно тут
	link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,900&amp;subset=cyrillic-ext" rel="stylesheet")
	//link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
	meta(name="description" content="Все о фестивале Лидбир который будет проходить 8 сентября 2018 в Лиде")
	link(rel="stylesheet" href = path + "template/style.css")
	script(src=path+'template/js/lazysizes.min.js')
	script(src=path+'template/js/ls.unveilhooks.min.js')
	script(src=path+'template/js/custom.js' async defer)
body
	header
		.logo
			img(src=path+"template/img/limberi_logo.svg" width="95")
		.nav
			ul
				li
					a(href="/") Главная
				li
					a(href="/vehicles.html") Авто
				li
					a(href="#") F.A.Q.
				li
					a(href="#") Контакты
			.bars
				div
				div
				div
		.tel
			ul
				li 
					a(href="tel:+375291387747") +375 29 138 77 47
	.ticket-modal
		span.close &times;
		iframe.lazyload(width="100%" height="99%" data-src="https://shop.piletilevi.ee/public/?concert=256378&shop_provider=kvldbr&design=btb&lang=rus&center=1873&sdc=1#view=ticketsselect")
	.bus-modal
		span.close &times;
		.inner
			h3 Цена билета на автобус - 20 BYN (10$)
			p 
				i автобус вас довезет до Лиды, подождет окончания концерта и отвезет обратно в Минск

			p <b>Дата, время и место выезда: </b>08.09.2018 (Сб) в 10:00, 10:30, 11:00 выезд от ДС Дружная
			p <b>Способ оплаты:</b> только через интернет-банк (в крайнем случае приходите в офис на Сухаревскую, 70, п. 10, офис 14н. Перед приездом звоните +375 29 138 77 47)
			a(href="https://docs.google.com/spreadsheets/d/1AIg1SOhrnnmj7PeN9AJ7L5pCV6vOxgUDKOAkO49YMl4/edit#gid=0" target="_blank")
				button Инструкция по оплате
			p После оплаты Вы присылаете на вайбер или почту свои паспортные данные. Мы готовим договор оказания туристических услуг. Ваш экземпляр договора передаем вам в автобусе.
			p Прибытие в Лиду через 2,5 - 3 часа после выезда из Минска. Автобус в Лиде будет находиться на парковке недалеко от места проведения концерта. Начало гала-концерта в 17:30. По окончании фестиваля - отправление в Минск. Автобус <b>долго</b> вас ждать <b>не будет</b>. Признак окончания фестиваля - <b>фейерверк</b>. Увидели цветные огонёчки в небе - быстро идем в автобус. Опоздуны добираются самостоятельно утром на маршрутках. Претензии по этому вопросу не принимаются ни в какой форме.
			p Прибытие в Минск 9.09 рано-рано утром, часов в 4-5. Метро и наземный транспорт еще ходить не будут. Думаем как добраться до дома, т.к. развоза по городу не будет.
	.wrap
		.screen1
			img.lazyload.main1(data-src=path+"template/img/main.png")
			img.lazyload.buy_button(data-src=path+"template/img/button.png")
			img.lazyload.shapes(data-src=path+'template/img/shapes.png')
			img.lazyload.bus-order(data-src=path+'template/img/bus-order.png')
			.social
				a(href="#" target="_blank")
					img.lazyload.vk(data-src=path+'template/img/vk.png')
				a(href="#" target="_blank")
					img.lazyload.fb(data-src=path+'template/img/fb.png')
				a(href="#" target="_blank")
					img.lazyload.inst(data-src=path+'template/img/inst.png')
		.screen2
			img.lazyload(data-src=path+'template/img/lidbeer2018_label.png')
			p В БЛИЖАЙШЕЕ ВРЕМЯ!
			p LIDBEER – один из самых масштабных, громких и душевных оупен-эйров Беларуси. Гостей фестиваля ждут пивоварные традиции региона, развлечения, игры, огромный фудкорт и только качественная музыка. На один день вся Лида станет фестивальной площадкой!
			p Вход на LIDBEER бесплатный!
			p Отдельная зона фестиваля – площадка гала-концерта. На ее территории расположится специальный фудкорт, отдельные развлечения и масштабная сцена известными хедлайнерами.
			img.lazyload.black_shapes(data-src=path+'template/img/black_shapes.png')
			p.bold LIDBEER ЖДЕТ ТЕБЯ!
			img.lazyload(data-src=path+'template/img/orgs.png')
			img.lazyload(data-src=path+'template/img/org_item.png')
			img.lazyload.gala(data-src=path+'template/img/gala.png')
			img.lazyload.group(data-src=path+'template/img/group.png')
			img.lazyload.buy_button(data-src=path+"template/img/button.png")
			img.lazyload.black_shapes(data-src=path+'template/img/black_shapes.png')
		.screen3
			img.lazyload.black_shapes(data-src=path+'template/img/free_scene.png')

